<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header hx-post="/header" hx-swap="innerHTML" hx-trigger="load"></header>
    
    <main>
        <h1>XP</h1>
        <p>This is the start of a small website, that wants to help small teams to work.</p>
     
        <!-- have a button POST a click via AJAX -->

    </main>

    <footer hx-post="/footer" hx-swap="innerHTML" hx-trigger="load"></footer>
</body>
</html>