header {
    width: 100%;
    display: flex;
    gap: 1ch;
    justify-content: space-between;
}
header nav {
    display: inline;
}
header nav ul { 
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
header nav ul li { 
    margin: 0;
    
    list-style-type: none;
    display: inline;
}

